<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Ajouter</display-name>
    <servlet-name>Ajouter</servlet-name>
    <servlet-class>Controller.Ajouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter</servlet-name>
    <url-pattern>/Ajouter</url-pattern>
  </servlet-mapping>
  <display-name>ProjetGRETA3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Start</servlet-name>
    <servlet-class>Start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Start</servlet-name>
    <url-pattern>/Start</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>Deconnexion.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>Controller.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifier</display-name>
    <servlet-name>Modifier</servlet-name>
    <servlet-class>Controller.Modifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifier</servlet-name>
    <url-pattern>/Modifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resultat</display-name>
    <servlet-name>resultat</servlet-name>
    <servlet-class>Controller.resultat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resultat</servlet-name>
    <url-pattern>/resultat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Supprimer</display-name>
    <servlet-name>Supprimer</servlet-name>
    <servlet-class>Controller.Supprimer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supprimer</servlet-name>
    <url-pattern>/Supprimer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Matiere</display-name>
    <servlet-name>Matiere</servlet-name>
    <servlet-class>Models.Matiere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Matiere</servlet-name>
    <url-pattern>/Matiere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterMatiere</display-name>
    <servlet-name>AjouterMatiere</servlet-name>
    <servlet-class>Controller.AjouterMatiere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterMatiere</servlet-name>
    <url-pattern>/AjouterMatiere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerMatiere</display-name>
    <servlet-name>SupprimerMatiere</servlet-name>
    <servlet-class>Controller.SupprimerMatiere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerMatiere</servlet-name>
    <url-pattern>/SupprimerMatiere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierMatiere</display-name>
    <servlet-name>ModifierMatiere</servlet-name>
    <servlet-class>Controller.ModifierMatiere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierMatiere</servlet-name>
    <url-pattern>/ModifierMatiere</url-pattern>
  </servlet-mapping>
</web-app>